<!-- <h1 *ngIf="!hideTitle">Welcome to {{hotelName}}!</h1> -->
<hinv-header></hinv-header>
<button (click)="toggleTitle()" class="btn btn-primary" [innerText]="hideTitle ? 'Show title' : 'Hide title'"></button>
<div *ngIf="rooms.length > 0">
    <hinv-rooms-list 
        [rooms]="rooms"
        (selectedRoom)="selectRoom($event)"
    ></hinv-rooms-list>
    <h2 *ngIf="selectedRoom">Selected room: {{ selectedRoom.number }}</h2>
</div>

<div>
    <button (click)="addRoom()" class="btn btn-primary">Add room</button>
    <button (click)="editRoom()" class="btn btn-primary">Edit room</button>
    <button (click)="deleteRoom()" class="btn btn-primary">Delete room</button>
</div>

<h1 *ngIf="totalBytes > 0">Loading a lot of data... Bytes loaded: {{ totalBytes }}</h1>